<section>
  <h3 class="text-center">Contact</h3>
  <!-- Add icon library -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <br /><br />
  <div class="card page-content text-center">
    <br />
    <img
      src="https://firebasestorage.googleapis.com/v0/b/amout-dust.appspot.com/o/122861643_1034249030350325_1478294957377559541_o.jpg?alt=media&token=84111d9a-9aab-4fc7-aea1-833d89570a09"
      alt=""
      class="profile"
    /><br />
    <h3>Profile</h3>
    <br />

    <div class="row center">
      <div class="col-md-7 pt-2">
        <h5>Name :</h5>
      </div>
      <div class="col-md-4 p-3 ab-detail">Mr. Jestsada</div>
  
      <div class="col-md-7 pt-3">
        <h5>Major :</h5>
      </div>
      <div class="col-md-4 pt-3 ab-detail">Computer Science</div>
  
      <div class="col-md-7 pt-3">
        <h5>University :</h5>
      </div>
      <div class="col-md-4 pt-3 ab-detail">Rajabhat Suan Sunandha</div>
    </div>
    <br />

    <h4>Contact.</h4>
    <br />
    <div class="form-group">
      <a href="https://www.facebook.com/bvjest.jestsada/"
        ><i class="fa fa-facebook"></i
      ></a>
      <a href="https://www.instagram.com/nongjest/"
        ><i class="fa fa-instagram"></i
      ></a>
      <a href="https://github.com/"><i class="fa fa-github"></i></a>
      <a href="#" data-toggle="modal" data-target="#exampleModalCenter"
        ><i class="fa fa-phone"></i
      ></a>
      <a href="#" data-toggle="modal" data-target="#exampleModalCenters"
        ><i class="fa fa-envelope"></i
      ></a>
      <br /><br /><br />
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModalCenters"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">
            E - mail.
          </h5>
        </div>
        <div class="modal-body">jestplibper1998@gmail.com</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">
            Telephone number.
          </h5>
        </div>
        <div class="modal-body">0950238118</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
